<div class='quote'>
  <h1>
    <%= quote.content %>
  </h1>
  <h3>
    - <%= quote.source %>
  </h3>

  <div class='cheesy_score_container'>
    <% if quote.cheesy_score.is_a? Integer %>

      <h2>Cheesiness Score:</h2>

      <% quote.cheesy_score.times do %>
        <%= image_tag('cheese.png', :class => "full_wegde") %>
      <% end%>

      <% (5 - quote.cheesy_score).times do %>
        <%= image_tag('empty_cheese.png', :class => "empty_wegde") %>
      <% end%>

    <% else %>

      <h2>No Cheesiness Score Yet!</h2>

      <% 5.times do %>
        <%= image_tag('cheese_questionmark.png', :class => "question_wegde") %>
      <% end%>

    <% end %>
  </div>

  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_quote_path(quote) %>
    <%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
