<nav>

  <ul>
    <% if notice %>
      <li id="notice"><%= notice %></li>
    <% end %>

    <% if alert %>
      <li id="alert"><%= alert %></li>
    <% end %>

    <% if admin_signed_in? %>
       <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
       <li><%= link_to 'New Quote', new_quote_path %></li>
    <% end %>

    <li><%= link_to 'All Quotes', quotes_path %></li>
    <li><%= link_to 'Random Quote', quotes_random_path %></li>
    <li>
      <%= form_tag search_quotes_path, method: 'get' do %>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag :search %>
      <% end %>
    </li>
  </ul>

</nav>
